/*
Colors:
Purple 			#660099	(102,0,153)
Darker Purple 	#3d005b	(61,0,91)
Lavender 		#d1b2e0	(209,178,224)
White 			#ffffff	(255,255,255)
Cream 			#eae0cc	(234,224,204)
*/

/* anims */
@keyframes entry {
    0%   {background-image: linear-gradient(to right, rgba(61,0,91, 0), rgba(61,0,91, 0), rgba(61,0,91, 0), rgba(61,0,91, 0), rgba(61,0,91, .15))}
    8.33%  {background-image: linear-gradient(to right, rgba(61,0,91, 0), rgba(61,0,91, 0), rgba(61,0,91, 0), rgba(61,0,91, 0), rgba(61,0,91, .25))}
    16.67%  {background-image: linear-gradient(to right, rgba(61,0,91, 0), rgba(61,0,91, 0), rgba(61,0,91, 0), rgba(61,0,91, .15), rgba(61,0,91, .25))}
    25%  {background-image: linear-gradient(to right, rgba(61,0,91, 0), rgba(61,0,91, 0), rgba(61,0,91, .15), rgba(61,0,91, .25), rgba(61,0,91, .55))}
    33.33% {background-image: linear-gradient(to right, rgba(61,0,91, 0), rgba(61,0,91, .15), rgba(61,0,91, .25), rgba(61,0,91, .55), rgba(61,0,91, .75))}
    41.67%   {background-image: linear-gradient(to right, rgba(61,0,91, .15), rgba(61,0,91, .25), rgba(61,0,91, .55), rgba(61,0,91, .75), rgba(61,0,91, 1))}
    50%  {background-image: linear-gradient(to right, rgba(61,0,91, .25), rgba(61,0,91, .55), rgba(61,0,91, .75), rgba(61,0,91, 1), rgba(61,0,91, 1))}
    58.33%  {background-image: linear-gradient(to right, rgba(61,0,91, .55), rgba(61,0,91, .75), rgba(61,0,91, 1), rgba(61,0,91, 1), rgba(61,0,91, 1))}
    66.67%  {background-image: linear-gradient(to right, rgba(61,0,91, .75), rgba(61,0,91, 1), rgba(61,0,91, 1), rgba(61,0,91, 1), rgba(61,0,91, .75))}
    75% {background-image: linear-gradient(to right, rgba(61,0,91, 1), rgba(61,0,91, 1), rgba(61,0,91, 1), rgba(61,0,91, .95), rgba(61,0,91, .55))}
    83.33%  {background-image: linear-gradient(to right, rgba(61,0,91, 1), rgba(61,0,91, 1), rgba(61,0,91, 1), rgba(61,0,91, .95), rgba(61,0,91, .45))}
    91.67%  {background-image: linear-gradient(to right, rgba(61,0,91, 1), rgba(61,0,91, 1), rgba(61,0,91, .95), rgba(61,0,91, .9), rgba(61,0,91, .25))}
    100% {background-image: linear-gradient(to right, rgba(61,0,91, 1), rgba(61,0,91, 1), rgba(61,0,91, .95), rgba(61,0,91, .9), rgba(61,0,91, .05))}

}

.delay{
	animation-delay: .75s;
}

.delay1 {
	animation-delay: 1.25s;
}
.delay2 {
	animation-delay: 2.25s;
}
.delay3 {
	animation-delay: 2.5s;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;	
}


.clear:after {
	content: "";
	clear:both;
	display: block;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

html h1, html h2, html h3, html h4 {
	font-family: 'Libre Baskerville', serif;
	color: #660099;
	font-weight: bold;
	text-shadow: 1px 2px #d1b2e0;
}

a[href="#home"] {
	text-decoration: none;
	color: purple;
}

body {
	/*background image*/
	background-image: url(../images/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

/*home*/

header {
	min-height: 100vh;
}

#home {
	padding: 0;
}

#valignwrapper {
	padding: 0;
}

#valign {
	background-image: linear-gradient(to right, rgb(61,0,91), rgb(61,0,91), rgba(61,0,91,.95), rgba(61,0,91,.9), rgba(61,0,91, 0));
	border-radius: 1.5% 0 0 1.5%;	
	padding: 0;
}

.introtext {
	float: left;
	padding: 0;
	font-family: 'Roboto Slab', serif;	
}

	.introtext > h1 {
		font-size: 2.5vw;
	}

	.introtext > h2 {
		font-size: 1.75vw;
	}

	.introtext > p{
		font-size: 1.25vw;
	}

p {
	color: #660099;
}

.introtext > p {
	margin: 5px 0px;
	padding: 0;
	text-align: justify;
	color: #ffffff;
}

.introtext h1, .introtext h2 {
	color: #ffffff;;
	text-shadow: 1px 2px #660099;
}

#me {
	float: left;
	width: 100%;
	transform: rotate(90deg);
	border-style: solid;
/*	border-radius: 50%;*/
	border-width: 2px;
	border-color: rgba(209,178,224,.75);
	padding: 0;
}

#boxpill {
	position: absolute;
	bottom: 10%;
	left: 5%;
}

#boxpill li {
	margin-right: 2vw;
	border: 4px solid #eae0cc;
	background-color: rgb(209,178,224);
	border-radius: 5%;
	transition: background-color 1s;
}

#boxpill li:hover {
	background-color: #3d005b;
	border-radius: 5%;
}

#boxpill li:hover > a {
	color: rgb(209,178,224);
	font-weight: bold;
}

#boxpill a {
	color: #3d005b;
	font-weight: bold;
	transition: color 1s;
}

.showcase {
	float: left;
	padding: 10px;
	background-color: rgba(0,0,0,.55);
	color: white;
	overflow: hidden;
}

.showcase h3 {
	text-shadow: 2px 1px #000;
	color: gold;
}

.showcase > .icon {
	float: left;
	width: 100%;
	background-color: white;
	border: 2px solid rgba(0,0,0,.75);
	border-radius: 50%;
}

.showcase p {
	font-size: 12px;
	text-align: justify;
}

.showcase a {
	display: auto;
	height: auto;
}


/*projects section*/
.projects {
	padding: 10.5% 5%;
	background-image: 
	linear-gradient(to bottom, 
		rgba(234,224,204,0),
		rgba(234,224,204,.95), 
		rgba(234,224,204,.95), 
		rgb(234,224,204), 
		rgb(234,224,204), 
		rgb(234,224,204), 
		rgba(234,224,204,.95),
		rgba(234,224,204,.90), 
		rgba(234,224,204,0));
}

.projabt {
	padding: 10px;
	/*height: 100vh;*/
	font-size: 14px;
}

#projwrapper{
/*	background-color: rgba(234,224,204);*/
}


.projects h1, .projects h2, .projects h3, .projects h4 {
	font-family: 'Libre Baskerville', serif;
	color: #660099;

	text-shadow: 1px 2px #d1b2e0;
	font-weight: bold;
}

.projects h4 {
	margin-top: 1.5%;
}

.projabt h3, p {
	margin-bottom: 12px;
}

.proj img[src="_blank"] {
	height: 50%;
	width: 100%;
	background-color: grey;
	border: 2px solid #660099;
}

.proj .thumb {
	margin-left: 10%;
	text-align: center;
	width: 80%;
	height: 60%;
	border: 2px solid #660099;
	border-radius: 50%;
}

.proj {
	height: 50vh;
	padding: 10px;
	font-size: 12px;
}

.projects p {
	color: #660099;
}

/*about*/
.about {
	padding: 2% 5%;
}

.abt {
	height: 100vh;
}

/*mqueries*/

@media only screen and (min-width: 769px) {
	#valignwrapper {
		position: relative;
		height: 100vh;
	}

	.showcase{
		height: 30vh;
		margin: 1.66vh 0;
	}

	#abs {
		position: absolute;
		padding: 0;
		margin: 0px;
	}

	#valign {
		position: absolute;
		height: 50vh;
		bottom: 10%;
		right: 0;
		animation-name: entry;
		animation-timing-function: linear;
		animation-duration: .48s;
	}

	#me {
		position: absolute;
		transform: rotate(90deg) translate(15%, -175%);
	}


	.introtext {
		position: relative;
		transform: translateY(20%);

	}

}

@media only screen and (max-width: 768px) {
	#valignwrapper {
		position: relative;
		transform: translate(0, 25%);
		height: 50vh;
		width: 100vw;
	}

	#valign {
/*	position: absolute;*/
	transform: translate(0%,0%);
	/*background-color: rgb(61,0,91);*/
	background-image: 
	linear-gradient(to bottom, 
	rgba(61,0,91,0),
	rgba(61,0,91,.95), 
	rgba(61,0,91,.95), 
	rgb(61,0,91), 
	rgb(61,0,91), 
	rgb(61,0,91), 
	rgba(61,0,91,.95),
	rgba(61,0,91,.90), 
	rgba(61,0,91,0));
	border-radius: 1.5% 0 0 1.5%;	
	padding: 0;
	height: 55vh;
	}

	#me {
		margin-top: 15%;
		height: 150%;
	}

	.introtext {
		margin-top: 10%;
		text-align: center;
	}

	.introtext > h1 {
		font-size: 4vw;
	}

	.introtext > h2 {
		font-size: 3vw;
	}

	.introtext > p {
		font-size: 2vw;
		text-align: center;
		margin-top: 5%;
	}

	#boxpill {
		position: absolute;
		bottom: 20%;
		left: 5%;
	}

	.proj .thumb {
		height: 120px;
	}
}

@media only screen and (max-width: 425px) {
	#valignwrapper {
		position: relative;
		padding: 0;
		height: 50vh;
	}

	#valign {
		padding: 0;
		height: 80vh;
	}

	#header {
		padding-top:5px;
	}

	.introtext {
		margin-top: 12.5%;
		padding: 5%;
		text-align: center;
		margin-left: 5%;
	}

	.introtext > h1 {
		font-size: 7vw;
	}

	.introtext > h2 {
		font-size: 5vw;
	}

	.introtext > p{
		font-size: 4vw;
		text-align: justify;
		margin-top: 2.5%;
	}

	#me{
		position: absolute;
		height: 50%;
		top: 15%;
		right: -2%;
	}

	#boxpill {
		position: absolute;
		bottom: 20%;
		left: 12.5%;
	}

	.showcase h3 {
	font-size: 5vw;
	}

	.projabt {
		height: 300px;
		margin-top: 30%;
	}


	.proj .thumb {
		width: 80%;
		height: 120px;
		border: 1px solid #660099;
		border-radius: 50%;
	}

	.proj h4 {
		font-size: 5vw;
	}

	.proj {
		overflow-y: scroll;
	}
}